<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://desarrollarte.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>desarrollarte.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>desarrollarte</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$desarrollarte</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Taller" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Taller_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connStringCfdiTemp" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connStringCfdiTemp_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RecursosHumanos" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RecursosHumanos_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eFactura" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eFactura_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DELL02;Initial Catalog=AserNegocio;Persist Security Info=True;User ID=sa;Password=epi;Connect Timeout=600;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Taller-Web.config Connection String" />
  </ItemGroup>
</Project>